body{
  font-family: "Courier New",Georgia,Serif;
}

.Table,th,td {
  border: 2px solid blue;
  color:blue;
  background-color:lightblue;
}

h1 {
  background-color: lightblue;
  color: blue;
}

h2 {
  background-color: blue;
  color: lightblue;
}

p {
  background-color: lightblue;
}

